body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#fotos {
    margin-bottom: 20px;
}

.galeria {
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    display: none;
    width: 300px;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0; /* Todas as fotos começam invisíveis */
    transition: opacity 0.5s ease-in-out; /* Transição suave de opacidade */
}

#descricao, #informacoes, #formulario {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.galeria img.ativa {
    opacity: 1; /* A foto ativa fica visível */
    display: block;
}
